h1{
color: orange;
font-family: sans-serif;
text-align: center;
}
.box{
	padding: 50px;
	width: 100px;
	color: #fff
	margin: 10px
	background: yellow;
	}
	#box{
		width: 400px;
		color: #fff
		background: red;
		padding: 50px
	}