h1{
	color: orange;
	font-family: sans-serif;
	text-align: center;
	}
	.kotak{
		padding: 50px;
		width: 100px;
		color: #ffffff
		margin: 10px;
		background: orange;
	}
	#kotak{
		width: 400px;
		color: #ffffff;
		background: blue;
		padding: 50px;
	}
